@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply px-2 py-1 whitespace-nowrap rounded-lg border-white border-2 bg-slate-800 hover:bg-slate-700 cursor-pointer text-white flex items-center justify-center;
  }

  .menuitem {
    @apply px-2 py-1 bg-slate-700 hover:bg-slate-600 cursor-pointer text-white;
  }

  .menuitem:first-child {
    @apply rounded-t-2xl;
  }

  .menuitem:last-child {
    @apply rounded-b-2xl;
  }

  .divider {
    @apply border-r-2 border-white h-7;
  }

  .toggle {
    @apply w-11 h-0 cursor-pointer inline-block;
    @apply focus:outline-0 dark:focus:outline-0;
    @apply border-0 dark:border-0;
    @apply focus:ring-offset-transparent dark:focus:ring-offset-transparent;
    @apply focus:ring-transparent dark:focus:ring-transparent;
    @apply focus-within:ring-0 dark:focus-within:ring-0;
    @apply focus:shadow-none dark:focus:shadow-none;

    @apply after:absolute before:absolute;
    @apply after:top-0 before:top-0;
    @apply after:block before:inline-block;
    @apply before:rounded-full after:rounded-full;

    @apply after:content-[''] after:w-5 after:h-5 after:mt-0.5 after:ml-0.5;
    @apply after:shadow-md after:duration-100;

    @apply before:content-[''] before:w-10 before:h-full;
    @apply before:shadow-[inset_0_0_#000];

    @apply after:bg-white dark:after:bg-slate-50;
    @apply before:bg-slate-300 dark:before:bg-slate-600;
    @apply before:checked:bg-blue-600 dark:before:checked:bg-blue-600;
    @apply checked:after:duration-300 checked:after:translate-x-4;

    @apply disabled:after:bg-opacity-75 disabled:cursor-not-allowed;
    @apply disabled:checked:before:bg-opacity-40;
  }

  .slider {
    -webkit-appearance: none;
    appearance: none;
    @apply appearance-none bg-transparent cursor-pointer w-60;
  }

  .slider::-webkit-slider-runnable-track {
    @apply h-2 bg-slate-600 rounded-full;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    @apply w-4 h-4 bg-blue-600 rounded-full appearance-none -mt-1;
  }
}

option {
  color: white;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
}

.scrollbar::-webkit-scrollbar {
  appearance: none;
  width: 8px;
  height: 8px;
  margin-left: 2px;
  background-color: rgb(15 23 42);
  border-radius: 9999px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(71 85 105);
  border-radius: 9999px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: rgb(15 23 42);
  border-radius: 9999px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
